# Linux kernel layout: https://docs.kernel.org/process/coding-style.html
BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
ColumnLimit: 80
ContinuationIndentWidth: 8
IndentCaseLabels: false
IndentGotoLabels: false
IndentPPDirectives: None
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeElse: false
  IndentBraces: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakStringLiterals: false
Cpp11BracedListStyle: false
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatementsExceptForEachMacros
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
ForEachMacros: [EACH]
IncludeBlocks: Preserve
SortIncludes: false
ReflowComments: false
PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 30
PenaltyBreakComment: 10
PenaltyBreakString: 10
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 60
